nav {
  background-color: black;
  ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1.5rem;
    li {
      padding: 0.5rem 1rem;
      cursor: pointer;
      a {
        font-size: 1.5rem;
        color: white;
        text-decoration: none;
      }
    }
  }
}
