div.search {
  display: flex;
  align-items: center;
  justify-content: center;
  input {
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  button {
    padding: 0.25rem;
    font-size: 2rem;
    cursor: pointer;
    background-color: red;
    color: white;
    border-radius: 16px;
  }
}
